# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.env
.pytest_cache/

# React / Vite
node_modules/
dist/
dist-ssr/
*.local

# SQLite
*.sqlite3
*.db
instance/

# VS Code
.vscode/
*.code-workspace

# OS Files
.DS_Store
Thumbs.db
